# Environments
.env

# Python
__pycache__/
*.pyc

# Joblib
*.joblib

# Data
*.csv
*.zip

# Images
/*.png
/*.jpg
*.jpg
*.png

# Jupyter
.ipynb_checkpoints/

# IDEs
.idea/
.vscode/

## Files
*.pdf
*.webm
*.mp4
*.wav
*.mp3